### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(3)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88

## Player Count

* Display the total number of players

In [7]:
unique_players = len(purchase_data['SN'].unique())
total_players = pd.DataFrame({"Total Players": [unique_players] })
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
unique_items = len(purchase_data['Item Name'].unique())
purchases = purchase_data['Price']
average_price = purchases.mean()
total_purchases = len(purchases)
total_revenue = purchases.sum()
purchasing_analysis = pd.DataFrame({"Number of Unique Items": [unique_items],
                                    "Average Purchase Price": [average_price],
                                    "Total Number of Purchases": [total_purchases],
                                    "Total Revenue": [total_revenue] })
purchasing_analysis['Average Purchase Price'] = purchasing_analysis['Average Purchase Price'].map('${:,.2f}'.format)
purchasing_analysis['Total Revenue'] = purchasing_analysis['Total Revenue'].map('${:,.2f}'.format)
purchasing_analysis

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
genders = purchase_data['Gender'].value_counts(normalize=True)
gender_demographics = pd.DataFrame({"Total Count": genders,
                                    'Percentage of Players': 100 * genders})
gender_demographics['Percentage of Players'] = gender_demographics['Percentage of Players'].map('{:,.2f}%'.format)
gender_demographics

                       Total Count Percentage of Players
Male                      0.835897                83.59%
Female                    0.144872                14.49%
Other / Non-Disclosed     0.019231                 1.92%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain Purchase Count,	Average Purchase Price,	Total Purchase Value, Avg Total Purchase per Person



* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
purchasing_analysis = pd.DataFrame()
for gender in purchase_data['Gender'].unique():
    gender_filter = purchase_data.loc[purchase_data['Gender'] == gender]
    purchase_count = len(gender_filter)
    avg_purchase_price = gender_filter['Price'].mean()
    total_purchase = gender_filter['Price'].sum()
    persons = gender_filter['SN'].unique()
    avg_total_purchase_per_person = 0
    for person in persons:
        person_filter = gender_filter.loc[gender_filter['SN'] == person]
        avg_total_purchase_per_person = avg_total_purchase_per_person + person_filter['Price'].sum()
    avg_total_purchase_per_person = avg_total_purchase_per_person / len(persons)
    gender_analysis=pd.DataFrame({'Purchase Count': [purchase_count],
                                  'Average Purchase Price': avg_purchase_price,
                                  'Total Purchase Value': total_purchase,
                                  'Average Purchase Total per Person': avg_total_purchase_per_person },
                                index=[gender])
    # https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html
    purchasing_analysis=pd.concat([purchasing_analysis, gender_analysis])
purchasing_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727
Female,113,3.203009,361.94,4.468395

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80